html {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  display: grid;
  grid-template-rows: repeat(3, minmax(auto, max-content));
  font-size: 1.6rem;
  line-height: 1.5;
}

.main {
  background: #ffffff;
  display: grid;
  grid-template-rows: repeat(7, minmax(auto, max-content));
}

.footer {
  background: #0a2a66;
  color: #8295ba;
  padding: 20px;
}

.section {
	padding: 120px 20px;
}

.section--gray {
  background: #f7f5f4;
}

.section--flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__headline {
  font-family: 'Source Serif Pro', serif;
  font-size: 2.6rem;
  font-weight: 400;
}

.btn {
	align-items: center;
	border-radius: 5px;
  background: #1865f2;
  border: 2px solid #1865f2;
	color: #ffffff;
	display: flex;
	justify-content: center;
	text-decoration: none;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 1.2rem 3rem;
}

.btn:hover,
.btn:focus {
  box-shadow: inset 0 0 0 3px #ffffff;
}

.btn:active {
  background: #0a2a66;
}

.btn--small {
  justify-self: flex-start;
  font-size: 1.7rem;
  padding: 0.5rem 1rem;
}


/* TESTIMONIALS Sections */

.testimonial {
  padding: 0 20px;
}

.testimonial__quote {
  font-family: 'Source Pro Serif', serif;
  font-size: 2.5rem;
}

.testimonial__source {
	display: grid;
	grid-template-columns: 1fr minmax(auto, max-content);
	justify-items: flex-end;
	align-items: center;
	column-gap: 20px;
}

.testimonial__img {
  width: 100px;
}


/* JOIN Section */

.section--join {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.section--join nav {
  display: grid;
  row-gap: 10px;
}


/* SUPPORTERS Section */

.section--supporters {
  row-gap: 120px;
  text-align: center;
}

.supporters-subsection {
  width: 100%;
  display: grid;
  row-gap: 60px;
  justify-items: center;
}

.supporter-logo {
  max-height: 35px;
  max-width: 180px;
}


/* Footer */

.footer {
	font-size: 2rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, minmax(auto, max-content));
	row-gap: 40px;
}

.footer .link {
  color: #ffffff;
}

.footer__info {
  text-align: center;
  display: grid;
  row-gap: 20px;
}

.footer__site-navs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 40px;
  font-size: 1.2rem;
}

.footer__nav {
	display: grid;
	grid-auto-rows: minmax(auto, max-content);
  row-gap: 15px;
}

.footer__nav--about {
	grid-row: span 2;
}

.footer__nav--contact {
	grid-column: 1 / span 1;
	grid-row: span 1;
}

.footer__nav--download {
	grid-column: 2;
	grid-row: 1 / span 1;
}

.footer__nav--courses {
	grid-column: 2;
	grid-row: 2 / span 2;
}

.footer__options {
	font-size: 1.2rem;
	display: grid;
	grid-template-rows: repeat(2, minmax(auto, max-content));
	justify-content: center;
	row-gap: 20px;
	justify-items: center;
}

.lang-options {
  display: flex;
  justify-content: space-between;
  width: 150px;
  align-items: center;
}

.country-nav {
	display: flex;
	width: 230px;
	justify-content: space-between;
  align-items: center;
}

.footer__legal {
	display: grid;
	row-gap: 10px;
	font-size: 1.2rem;
	justify-items: center;
	justify-content: center;
	text-align: center;
}

.legal-nav {
	display: grid;
	row-gap: 5px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-left: 40px;
    padding-right: 40px;
  }

  .section__headline {
    font-size: 4rem;
  }

  .btn--small {
    padding: 1.2rem 3rem;
  }

  .section--category-reversed {
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 120px 60px;
  }

  .section--category {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 120px;
    position: relative;
  }

  .section--together {
    margin-bottom: 0;
  }

  .section--category .section__img {
    position: absolute;
    width: 800px;
  }

  .section--teachers .section__img {
    top: 41px;
    left: -218px;
  }

  .section--students .section__img {
    top: 0px;
    right: 0px;
  }

  .btn--small {
    padding: 1.4rem 3rem;
  }
}

/* @media screen and (min-width: 768px) {

  .section {
    padding-left: 40px;
  }
  
  .section__headline {
    font-size: 5rem;
  }

  .section--feature .section__content {
    width: 415px;
    margin-top: 360px;
  }

  .section--feature .section__img {
    width: 759px;
    left: 403px;
    top: 105px;
  }

  .section--feature .btn {
    width: 250px;
  }

  .section--benefits .section-headline {
    text-align: center;
  }
} */